*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.structure-container{
    position: relative;
}

 /* menu laterale */

 .menuSx-container{
    width: 15vw;
    background-color: #000000;
    height: 630px;
    position: absolute;
    top: 0;
      

    
    /* DEBUG */
}
    

/* logo */
    

    .upgrade{
        width: 85vw;
        height: 80px;
        position: absolute;
        top: 0;
        left: 15vw;
        background-color: #000000;
        opacity: 0.5;
    }


  /* corpo centrale */

    .body-container{
        margin-left: 15vw;
        overflow-y: scroll;


        /* DEBUG */
        height: 1000px;
        background-color: #141922;
        
    
    }
















    /* footer */
 

    .player-container{
        width: 100vw;
        height: 80px;
        position:absolute;
        bottom:0;
        left: 0;
        background-color: #282828;
  
    }