*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.structure-container{
    position: relative;
 
}

 /* menu laterale */

 .menuSx-container{
    width: 20vw;
    background-color: #000000;
    height: calc(100vh - 80px);
    position: absolute;
    top: 0;
    color:#707070;
    padding-left: 1em;
    
      
}

/* menu laterale superiore */
.menu-topSx{
    
    
    margin-top: 1em;
    
}
    
.list{
    list-style-type: none;
    line-height: 2em;
}

.white{
    color: white;
}

.menu-topSx .type{
    margin-right: 0.5em;
}


/* logo */

    #logo{
        width: 130px;
        margin-top: 1em;
    }
    

/* playlists */

    .playlist{
        margin-top: 1em;
        line-height: 2.5em;
    }

    .playlist h3{
        color: white;
    }

    

    .fa-plus{
        background-color: #a3a3a3;
        color: black;
        width: 2em;
        height: 2em;
        padding: 8px;
        margin-right: 1em;
    }




/* blocco tutente */

    .app{
        width: 10em;
        border-bottom: 1px solid #707070;
        padding-bottom : 0.9em;
    }

    .user{
        width: 20vw;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 1em ;
        color: #707070;
        line-height: 23px;
        background-color: #000000;

        /* DEBUG */
        height: 80px;
        

    }

    .user .type{
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
        border: 2px solid #707070;
        border-radius: 50%;
        text-align: center;
    }

    .fa-user{
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
        background-color: #707070;
        color: white;
        border-radius: 50%;
        text-align: center;

    }
    .user-name{
        color: white;
        padding-top: 0.7em;
    }

 /* barra superiore centrale */
    .upgrade{
        width: 80vw;
        height: 80px;
        position: absolute;
        top: 0;
        left: 20vw;
        background-color: #000000;
        opacity: 0.5;
        text-align: end;
        
    }

    .upgrade span{
        display: inline-block;
        border: white 2px solid;
        border-radius: 25px;
        margin: 1.5rem;
        color: white;
        padding: 0.5rem;
        
    }


/* corpo centrale */

    .body-container{
        margin-left: 15vw;
        


        /* DEBUG */
        height: calc(100vh - 80px);
        background-color: #141922;
        
    
    }
















    /* footer */
 

    .player-container{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 80px;
        position:absolute;
        bottom:0;
        left: 0;
        background-color: #282828;
  
    }

    /* parte sinistra  */
    .command{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 15rem;
        
    }

    .img-footer{
        width: 3em;
        margin: 15px;
        
    }

    
    .track{
        display: flex;
        
     }

     .track-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

   

     .title{
        color: #707070;
        font-size: 0.7rem;
     }

     .icons{
        display: flex;
        justify-content: space-around;
        
        width: 4em;
     }

     /* parte centrale */
     /* comandi */
     .middle{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1em;
        width: 20rem;
        
     }

     .middle-bottom .fa-solid{
        margin-right: 2em;
     }
     /* barra riproduzione  */
     .rod-player{
        display: flex;
        justify-content: start;
        
        width: 20em;
        height: 0;
        margin-top: 1.3em;
     }

     .rod-white{
        border: 2px solid white;
        border-top-right-radius: 5%;
        border-bottom-right-radius:  5%;
        width: 5em;
     }

     .rod-gray{
        border: 2px solid #707070;
        border-top-left-radius: 5%;
        border-bottom-left-radius:  5%;
        width: calc(100% - 5em);

     }

     .reproduce{
        display: flex;
     }

     .time{
        margin: 0.8em 1em 0;
     }

     .rod-player.small{
        width: 10em;
        margin-top: 0;
     }
     .sound{
        display: flex;
        
     }

     .rod-white.small{
        width: 2em;
     }

     .rod-white.gray{
        width: calc(100% - 2em);
     }